{{! This is the template for a single post - IDK what I am doing with singlepost so trying this out}}
<div class="row mb-4 post-container">
  <div class="col-md-5">
    <h3>{{post.title}}</h3>
    <p>Written By: {{post.User.username}} at {{post.date_created}} </p>
  </div>

  {{! Show existing comments }}
  <div class="post-body">
    <p>{{post.content}}</p>
    <div class="leave-comment">
      {{#if logged_in}}
        <button class="leave-comment-btn btn btn-sm btn-secondary">Leave a
          Comment</button>
      {{/if}}
    </div>
  </div>
</div>